---
permalink: /authors/
title: "Authors"
layout: plain
---

<br/>
<br/>

{% for person in site.data.authors %}
<div class="author">
  <img src="{{ '/static/' | append: person.avatar | relative_url }}" alt="{{person.name}}" />
  <h2 id="person.slug">{% if person.link %}<a href="{{ person.link }}">{% endif %}{{ person.name }}{% if person.link %}</a>{% endif %}</h2>
  <p>{{person.bio}}</p>
</div>
{% endfor %}

<h2>Other Contributors</h2>

<p><a href="http://samarelsheikh.com/">Samar Elsheikh</a>: translation to اَلْعَرَبِيَّةُ (Arabic).</p>

<p><a href="http://dermitmaria.com/">Maria Dermit</a>: translation to Español (Spanish).</p>

<p><a href="https://twitter.com/lorandreoli">Lorenzo Andreoli</a>: translation to Italiano (Italian).</p>

<p>Yuri Bae: translation to 한국어 (Korean).</p>

<p><a href="https://github.com/gioferreira">Giovani Ferreira</a>: translation to Português (Portugese).</p>
