body {
  height: 100%;
  background-color: #F6F8FA;
  font-family: sans-serif;
  overflow: hidden;
  margin: 0px;
}

h1 {
  font-family: sans-serif;
  color: white
}

li, a, button {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.blockDisplay {
  position: absolute; 
}

.logo {
  cursor: pointer;
  margin-left: auto;
  text-align: right;
  order: 2;
  width: 50%
}

button {
  padding: 0px 0px;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 0px;
  width: 50px;
  height: 50px;
  text-decoration: none;
  outline: none;
}

button:hover {
  background-color: #192C34;
}

.fab {
  width: 60px;
  height: 60px;
  background-color: #A7C0CD;
  border-radius: 50%;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  transition: all 0.1s ease-in-out;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  text-align: center;
  line-height: 58px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 5000;
  margin-right: 4px;
}

.fab:hover {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  transform: scale(1.05);
}

#dataOutput {
  background-color: #fff;
  padding:0;
  margin:0;
  float: left;
  font-family: Arial, Helvetica, sans-serif
}


#error {
  background-color: #fff;
  padding: 20px;
  margin:0;
  float: left;
  font-family: monospace;
  color: red;
}

#error {
  background-color: #fff;
  font-family: monospace;
  color: red;
}

#codeOutput {
  background-color: #fff;
  font-family: monospace;
  padding: 20px;
}

#dataOutput tbody {
  display: block;
}

#dataOutput thead tr {
  height: 20px;
  top: 0;
  font-size: 0.8em;
  position: sticky;
}

#dataOutput table  {
  border-collapse: collapse;
}

#dataOutput tr, td {
  background-color: white;
  border: 1px solid #D7DADC;
  width: 100%;
  padding: .425em;
  text-align: left;
  word-wrap: break-word;
  font-size: 0.8em;
  border: 1px solid #D7DADC;
}

#dataOutput th {
  background-color: #F7F9FA;
  color: black;
  padding: .425em;
  text-align: center;
  word-wrap: break-word;
  border: 1px solid #D7DADC;
  font-size: 1em;
  letter-spacing: .1em;
  text-align: left;
  border: 1px solid #D7DADC;
  font-size: 0.8em;
}

#dataOutput tr {
  display: table;
  table-layout: fixed;
  border: 1px solid #D7DADC;
  white-space: wrap;
  word-wrap: break-word;
  padding: .425em;
  width: 100%;
}


/*
 * Layout
 */
/**
 * Layout
 */

/*
 * Layout
 */
/**
 * Layout
 */

    .splitter {
        width: 100%;
        height: 100%;
        display: flex;
    }

    #separator {
        cursor: col-resize;
        background-color: #DDDDDD;
        background-repeat: no-repeat;
        background-position: center;
        width: 10px;
        height: 100%;

    /* prevent browser's built-in drag from interfering */
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #first {
        background-color: white;
        width: 80%;
        height: 100%;
        min-width: 180px;
    }

    #second {
        background-color: white;
        width: 80%;
        height: 100%;
        min-width: 0px;
    }

.tabs {
  display: flex;
  flex-wrap: wrap;
  background:white;
}

.input {
  position: absolute;
  opacity: 0;
}

.label {
  width: 100%;
  padding: 10px 20px;
  background: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  color: #D7DADC;
  transition: background 0.1s, color 0.1s;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: block;
}

.label:hover {
  background: white;
}

.label:active {
  background: white;
}

.input:focus + .label {
  border-bottom: 3px solid #CED8DC;
}

.input:checked + .label {
  background: #fff;
  color: #000;
  border-bottom: 3px solid #CED8DC;
}

@media (min-width: 600px) {
  .label {
    width: auto;
  }
}

.panel {
  display: none;
  background: #fff;
}

@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}

.input:checked + .label + .panel {
  display: block;
  -webkit-transition: 1s all ease;
        transition: 1s all ease;
}

p {
  font-family: Helvetica;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.5rem 0;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #404040; }
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child),
  h4:not(:first-child),
  h5:not(:first-child) {
    margin: 1.5rem 0; }


    .topnav {
        background-color: #1C313A;
         padding: 10px;
    }
    
    .topnav a {
      text-align: center;
      padding: 0px 0px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav-right {
      float: right;
      line-height: 50px;
    }
    
    .dropdown {
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 80px;
      z-index: 100;
      font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 10px;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 10px;
      border-radius: 3%;
    }
    
    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

    .custom-select {
      position: relative;
      font-family: Arial;
    }
    
    .custom-select select {
      display: none; /*hide original SELECT element:*/
    }
    
    .select-selected {
      background-color: #fff;
    }

    .blocklySVG {
      width: 100%;
      z-index: 0;
    }

    .blocklyTrash {
      width: 100%;
    }

    .blocklyZoom {
      width: 100%;
    }
    
    /*style the arrow inside the select element:*/
    .select-selected:after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: black transparent transparent transparent;
    }
    
    /*point the arrow upwards when the select box is open (active):*/
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent black transparent;
      top: 7px;
    }
    
    /*style the items (options), including the selected item:*/
    .select-items div,.select-selected {
      color:black;
      padding: 8px 16px;
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
      user-select: none;
    }
    
    /*style items (options):*/
    .select-items {
      position: absolute;
      background-color: #fff;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
    }
    
    /*hide the items when the select box is closed:*/
    .select-hide {
      display: none;
    }
    
    .select-items div:hover, .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 3px solid #D7DADC;
      font-weight: bold;
  }
  
  /* remove the "grey" border when hovering the li elements */
  .nav-tabs>li>a:hover{
      border: 1px solid transparent;
  }
  
  /* remove the "grey" background colour when hovering the li elements */
  .nav>li>a:focus, .nav>li>a:hover{
      background-color: transparent;
      color: #D7DADC;
  }