<p>
  <a href="{{ '/' | append: page.language | append: '/faq/' | relative_url}}">FAQ</a>
  <br/>
  <a href="{{ '/' | append: page.language | append: '/guide/' | relative_url}}">Guide</a>
  <br/>
  - <a href="{{ '/' | append: page.language | append: '/data/' | relative_url}}">Data</a>
  <br/>
  - <a href="{{ '/' | append: page.language | append: '/transform/' | relative_url}}">Transforms</a>
  <br/>
  - <a href="{{ '/' | append: page.language | append: '/plot/' | relative_url}}">Plots</a>
  <br/>
  - <a href="{{ '/' | append: page.language | append: '/statistics/' | relative_url}}">Statistics</a>
  <br/>
  - <a href="{{ '/' | append: page.language | append: '/operation/' | relative_url}}">Operations</a>
  <br/>
  - <a href="{{ '/' | append: page.language | append: '/value/' | relative_url}}">Values</a>
  <br/>
  - <a href="{{ '/' | append: page.language | append: '/combine/' | relative_url}}">Combining</a>
  <br/>
  <a href="{{ '/' | append: page.language | append:  '/glossary/' | relative_url }}">Glossary</a>
</p>
{% if page.headings %}
<hr/>
<p>
{% for heading in page.headings %}
  - <a href="#{{heading.id}}">{{heading.text}}</a>
  {% unless forloop.last %}<br/>{% endunless %}
{% endfor %}
</p>
{% endif %}
