<footer>
  <!--
  <a target="_blank" href="{{ '/docs/' | relative_url }}"><img class="footer" src="{{ '/static/source-code.svg' | relative_url }}" alt="Source Docs" /></a>
  -->
  <a target="_blank" href="https://github.com/tidyblocks/tidyblocks/"><img class="footer" src="{{ '/static/github.svg' | relative_url }}" alt="Repository" /></a>
  <a href="{{ '/conduct/' | relative_url }}"><img class="footer" src="{{ '/static/code-of-conduct.svg' | relative_url }}" alt="Code of Conduct" /></a>
  <a href="{{ '/contributing/' | relative_url }}"><img class="footer" src="{{ '/static/contributing.svg' | relative_url }}" alt="Contributing" /></a>
  <a target="_blank" href="https://twitter.com/tidyblocks"><img class="footer" src="{{ '/static/twitter.svg' | relative_url }}" alt="Contributing" /></a>
</footer>
