<nav>
  <p><a href="{{'/' | relative_url}}">TidyBlocks</a></p>
  <p><a href="{{'/docs/' | relative_url}}">Guide</a></p>
  {% for group in site.data.blocks %}
    <p><span class="menu" style="background-color: {{group.color}};">&nbsp;&nbsp;&nbsp;</span> <a href="{{'/' | append: group.slug | append: '/' | relative_url}}">{{group.title}}</a></p>
    {% if group.slug == this_slug %}
      <ul>
        {% for block in group.blocks %}
        <li><a href="{{'/' | append: group.slug | append: '/#' | append: block.slug | relative_url}}">{{block.name}}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
  <hr/>
  <p>
    <a href="{{ '/license/' | relative_url }}">License</a>
    <br/>
    <a href="{{ '/conduct/' | relative_url }}">Code of Conduct</a>
    <br/>
    <a href="{{ '/glossary/' | relative_url }}">Glossary</a>
    <br/>
    <a href="{{ '/authors/' | relative_url }}">Authors</a>
    <br/>
    <a href="{{ '/dev/' | relative_url }}">Source Docs</a>
    <br/>
    <a href="{{ {{site.repo }}">Source ➡</a></p>
</nav>
