/* Body of page */
body {
    height: 100%;
    background-color: #F6F8FA;
    font-family: sans-serif;
    overflow: hidden;
    margin: 0px;
}

/* Code area fills left half */
#codeArea {
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
    background-color: #F6F8FA;
    padding: 5px;
}

/* Display area fills right half. */
#displayArea {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
    float: left;
}

/* Input panes within code area */
.input {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

/* Output panes within display area. */
.output {
    width: 100%;
    height: 50%;
    overflow-y: scroll;
    overflow-x: scroll;
}

/* Block display area within block area. */
#blockDisplay {
    background-color: #e0f0e0;
}

/* Code output area within block area. */
#codeOutput {
    background-color: #f0e0f0;
}

/* Plot output area within display area. */
#plotOutput {
    background-color: #fff;
    margin-bottom: 5px;
}

/* Data output area within display area. */
#dataOutput {
    background-color: #fff;
}

#dataOutput tbody {
    display: block;
  }

#dataOutput thead tr {
    height: 20px;
    top: 0;
    font-size: 1em;
    position: sticky;
  }

#dataOutput table  {
    border-collapse: collapse;
  }

#dataOutput tr, td {
    background-color: white;
    border: 1px solid #D7DADC;
    padding: .425em;
    width: 100%;
    padding: .425em;
    text-align: left;
    word-wrap: break-word;
    font-size: 1em;
    border: 1px solid #D7DADC;
  }
  
#dataOutput th {
    background-color: #F7F9FA;
    color: black;
    padding: .425em;
    text-align: center;
    word-wrap: break-word;
    border: 1px solid #D7DADC;
    font-size: 1em;
    letter-spacing: .1em;
    text-align: left;
    border: 1px solid #D7DADC;
  }
  
#dataOutput tr {
    display: table;
    table-layout: fixed;
    border: 1px solid #D7DADC;
    white-space: wrap;
    word-wrap: break-word;
    padding: .425em;
    width: 100%;
  }

/* Button used to run code */
button#runCode {
    float: right;
}