/* Body of page */
body {
    height: 100%;
    background-color: #f0f0e0;
    font-family: sans-serif;
    overflow: hidden;
    margin: 0px;
}

/* Code area fills left half */
#codeArea {
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
    background-color: #f0f0e0;
    padding: 5px;
}

/* Display area fills right half. */
#displayArea {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
    float: left;
}

/* Input panes within code area */
.input {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

/* Output panes within display area. */
.output {
    width: 100%;
    height: 50%;
    overflow-y: scroll;
    overflow-x: scroll;
}

/* Block display area within block area. */
#blockDisplay {
    background-color: #e0f0e0;
}

/* Code output area within block area. */
#codeOutput {
    background-color: #f0e0f0;
}

/* Plot output area within display area. */
#plotOutput {
    background-color: #fff;
    margin-bottom: 5px;
}

/* Data output area within display area. */
#dataOutput {
    background-color: #fff;
}

#dataOutput table, th, td {
    height: 100%;
    margin: 0%;
    font-family: "Lucida Console";
    border: 1px solid #000000;
    border-collapse: collapse;
    text-align: left;
}

#dataOutput tr {
    width: 100%;
    padding: .35em;
}

/* Button used to run code */
button#runCode {
    float: right;
}