body {
    font-family: "Helvetica Neue", Helvetica;
    font-size: 10pt;
    box-sizing: border-box;
    width: 99%;
    padding: 5px;
}

/* Split with left and right halves */

.two-columns {
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.column {
    box-sizing: border-box;
    flex: 1;
    padding: 5px;
}

.width25 {
    width: 25%
}

.width50 {
    width: 50%;
}

.width75 {
    width: 75%;
}

.width100 {
    width: 100%;
}

/* Navigation menu */

nav {
    padding: 5px;
    border-bottom: solid 2px black;
}

nav span.navtitle {
    padding-left: 5px;
    padding-right: 5px;
}

nav div.dropdown {
    position: relative;
    display: inline-block;
}

nav div.dropdown div.dropdown-content {
    display: none;
    position: absolute;
    padding: 5px;
    z-index: 1;
    text-align: left;
}

div.dropdown:hover div.dropdown-content {
    display: block;
}

/* Workspace */

main {
    height: calc(100vh - 6rem);
    overflow: auto;
}

div.workbench {
    border-right: 1px solid black;
}

/* Tabs */

div.displays {
    border-left: 1px solid black;
}

button.menuButton {
    background-color: #f0f0f0;
    float: left;
    border: 1px solid;
    margin-right: 2px;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

button:hover {
    background-color: #d0d0d0;
}

button.active {
    background-color: #b0b0b0;
}

div.tabContent {
    display: none;
    border-top: none;
}

/* Display areas */

button.displayButton {
    background-color: #f0f0f0;
    border: 1px solid;
    margin-right: 2px;
    cursor: pointer;
    font-family: inherit;
}

table.data {
    border-collapse: collapse;
}

table.statistics {
    border-collapse: collapse;
}

th {
    border: solid 1px black;
}

td {
    border: solid 1px black;
}

select.tableSelector {
    font-family: "Helvetica Neue", Helvetica;
    font-size: 10pt;
}

/* Footer */

footer {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    padding-bottom: 0px;
    text-align: center;
    border-top: solid 2px black;
}

/* Common elements */

p {
    padding: 0px;
    margin: 0px;
}

.nowrap {
    white-space: nowrap;
}
