<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>{{site.title}}{% if page.title %}: {{page.title}}{% endif %}</title>
    <link href="{{ '/static/site.css' | relative_url }}" rel="stylesheet" type="text/css">
    <link href="{{ '/static/tango.css' | relative_url }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <main>
      {% if page.title %}
      <h1><a href="{{ '/' | relative_url }}">{{site.title}}</a>: {{page.title}}</h1>
      {% else %}
      <h1>{{site.title}}</h1>
      {% endif %}
      {{content}}
    </main>
    <hr/>
    <footer>
      <p>
        <a href="{{ '/license/' | relative_url }}"><img class="footer" src="{{ '/static/cc-by.svg' | relative_url }}" alt="License" /></a>
        <a href="{{ site.repo }}"><img class="footer" src="{{ '/static/github.svg' | relative_url }}" alt="Repository" /></a>
        <br/>
        © {{ site.year }} <a href="{{ '/team/' | relative_url }}">The Team</a>
      </p>
    </footer>
  </body>
</html>
